<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="blog.css">
</head>
<body>
    <div class="navbar">
        <h3>Islomjon Ikromov</h3>
        <ul>
            <li><a href="/main">About</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/more">More</a></li>


        </ul>
    </div>
    <div class="blog-list">
        <div class="blog-list1">
            <button ><a href="/blog/articles"> 1  &nbsp; &nbsp;Why I love JavaScript?</a></button>
            <h6>November 9th ,2024</h6>

        </div>

    </div>
</body>
</html>