<%- include('header'); -%>
    <div class="introduction">
        <h3>About me</h3>
        <img src="./assets/photo_2024-11-09_19-23-44.jpg" alt="">
        <h5>I am Islomjon Ikromov ,a student at Roanoke College. I am studying math, computer science,and data science. I am passsionate about math and coding. I like creating websites. I love traveling and going outdoors.I am creating this website due to curiosity. Feel free to drop a message.  </h5>

    </div>
    <div class="introduction-2">
        <img src="./assets/telegram.jpg" alt="">
        <h6>As part of studying, I love sharing my experiences in academics and science. I run a Telegram channel where you can see posts related to studying, traveling and others. I would recommend to join</h6>
        <button><a href="https://t.me/air_notes1">Join</a></button>
    </div>

</body>
</html>