<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
    <link rel="stylesheet" href="./css/more.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="navbar">
        <h3>Islomjon Ikromov</h3>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/more">More</a></li>


        </ul>
    </div>
    <div class="social-links">
        <h2>Follow Me</h2>
        <a href="https://t.me/Ikromovislomjohn" target="_blank" class="social-icon telegram">
            <i class="fab fa-telegram-plane"></i> Telegram
        </a>
        <a href="https://github.com/IkromovIslomjon" target="_blank" class="social-icon github">
            <i class="fab fa-github"></i> GitHub
        </a>
        <a href="https://www.linkedin.com/in/islomjohn-ikromov-703692299/" target="_blank" class="social-icon linkedin">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="ikromovislomjohn@gmail.com" class="social-icon email">
            <i class="fas fa-envelope"></i> Email
        </a>
    </div>
</body>
</html>